src/renderer/assets/n8nDispoWorkflow.json
{
  "name": "ZeitBlick – Dispo-Import",
  "nodes": [
    {
      "parameters": {
        "operation": "write",
        "fileName": "=__FOLDER__/Dispos/{{$json.savedFileName}}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [272, -160],
      "id": "258ace79-6fa5-4df1-b58c-829ad83f9c62",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "jsCode": "const out = [];\n\nfor (const item of $input.all()) {\n  for (const [key, file] of Object.entries(item.binary || {})) {\n    const fileName = file.fileName || '';\n\n    const isPdf = file.mimeType === 'application/pdf';\n    const isDispo =\n      /(dispo|disposition|callsheet|call[\\s_-]?sheet|(^|[^a-z])cs([^a-z]|$))/i.test(fileName);\n\n    if (isPdf && isDispo) {\n      const safeFileName = fileName\n        .replace(/[\\/\\\\:*?\"<>|]/g, '-')\n        .replace(/\\s+/g, ' ')\n        .trim();\n\n      out.push({\n        json: {\n          savedFileName: safeFileName,\n          originalBinaryKey: key,\n        },\n        binary: {\n          data: file,\n        },\n      });\n    }\n  }\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [112, -160],
      "id": "c8b315e1-1804-4d0b-a62d-62eebd1651d1",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-512, -160],
      "id": "f37c8c00-d64c-412d-a7c7-968d4e40be39",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "email",
        "operation": "downloadAttachment",
        "mailboxPath": {
          "__rl": true,
          "value": "={{ $json.mailboxPath }}",
          "mode": "path"
        },
        "emailUid": "={{ $json.uid }}",
        "allAttachments": true,
        "includeInlineAttachments": true
      },
      "type": "n8n-nodes-imap-enhanced.imapEnhanced",
      "typeVersion": 1,
      "position": [-48, -160],
      "id": "66d99452-c2e2-41c3-8957-9372534cee9b",
      "name": "DownloadAttachment email",
      "credentials": {
        "imapApi": {
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "89224f88-5e1e-4b49-8035-1ee37a99b8a0",
              "leftValue": "={{ /dispo|callsheet|\\bcs\\b/i.test($json.envelope?.subject || '') }}",
              "rightValue": "dispo",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-208, -160],
      "id": "cd7102b1-70a8-436e-bc22-33164e3faa3f",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "email",
        "emailDateRange": {
          "since": "2025-01-01T00:00:00"
        },
        "emailFlags": {
          "flagged": false
        },
        "customLabels": {},
        "emailSearchFilters": {},
        "includeParts": [
          "attachmentsInfo"
        ],
        "limit": 100
      },
      "type": "n8n-nodes-imap-enhanced.imapEnhanced",
      "typeVersion": 1,
      "position": [-336, -160],
      "id": "c631dde0-8f76-4eb5-80c3-cae642e73cce",
      "name": "GetEmailsList email",
      "credentials": {
        "imapApi": {
          "name": "IMAP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GetEmailsList email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DownloadAttachment email": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "DownloadAttachment email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "GetEmailsList email": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": []
}
